.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  box-sizing: border-box;
  padding: 50px;
  background: $white;
  transform: translate(-50%, -50%);
  z-index: 9999999;

  @media (max-width: $max-xs-width) {
    width: 90%;
    max-width: 500px;
    padding: 15px;
  }

  &.modal-open {
    display: block;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    content: '';
    z-index: 99999;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 0;
    background: transparent url('../img/close-dark.svg') 0 0 no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    transition: $transition;

    @media (max-width: $max-xs-width) {
      width: 15px;
      height: 15px;
    }

    &:hover {
      opacity: .5;
    }
  }

  &__title {
    padding: 0;
    margin: 0 0 50px;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: .5em;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: $max-xs-width) {
      padding-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  &__form {
    font-size: 16px;
    font-weight: normal;

    @media (max-width: $max-xs-width) {
      font-size: 12px;
    }
  }

  &__form-row {
    margin-bottom: 20px;

    @media (max-width: $max-xs-width) {
      margin-bottom: 15px;
    }

    &--center {
      text-align: center;
    }

    &--date {
      background: transparent url('../img/calendar.png') 98% center no-repeat;
      background-size: 18px 20px;

      @media (max-width: $max-xs-width) {
        background-position: 95% center;
      }
    }
  }

  &__form-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 8px;
    border: none;
    border-bottom: 1px solid $silver;
    outline: none;

    &::-webkit-input-placeholder {
      color: $dark;
    }

    &:focus {
      outline: none;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
  }

  &__form-date {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $silver;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $dark;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-clear-button,
    &:focus::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  &__form-error {
    display: none;
    padding: 0;
    margin: 15px 0;
    font-size: 14px;
    color: $red;
    text-align: center;
  }

  &__form-submit {
    margin-top: 30px;

    @media (max-width: $max-xs-width) {
      padding: 14px 30px;
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &__form-success {
    display: none;
  }

  &__success-msg {}

  &__msg-close {}

  &__close-btn {}

}
