.promo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  box-sizing: border-box;
  padding: 60px 0 55px;
  margin-bottom: 50px;
  color: $white;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 11px 25px -3px rgba(0, 0, 0, .35);

  @media (min-width: $min-xs-width) and (max-width: $max-sm-width) {
    padding-bottom: 10%;
  }

  @media (max-width: $max-xs-width) {
    padding-bottom: 75px;
  }

  &__wrap {
    width: 50%;

    @media (min-width: $min-xs-width) and (max-width: $max-sm-width) {
      width: 80%;
    }

    @media (max-width: $max-xs-width) {
      width: 90%;
    }
  }

  &__title {
    padding: 0;
    margin: 20px 0 50px;
    font-family: $raleway;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5em;

    @media (max-width: $max-xs-width) {
      font-size: 24px;
      letter-spacing: .3em;
    }
  }

  &__descr {
    line-height: 1.3;

    @media (max-width: $max-xs-width) {
      font-size: 14px;
    }
  }
}