.about {
  padding: 100px 0 50px;

  @media (min-width: $min-xs-width) and (max-width: $max-sm-width) {
    overflow-x: hidden;
    padding-top: 40px;
  }

  @media (max-width: $max-xs-width) {
    padding-top: 50px;
    padding-bottom: 25px;
    overflow: hidden;
  }

  &__text-wrap {
    max-width: 750px;
    margin: 0 auto;
  }

  &__title {
    max-width: 400px;
    margin-top: 75px;
    margin-bottom: 55px;
    line-height: 1.5;
  }

  &__slider {
    height: 320px;
    margin: 0 -25px;
    margin-top: 65px;

    .slick-arrow {
      display: none;
    }

    @media (max-width: $max-xs-width) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__slide {
    box-sizing: border-box;
    padding: 0 25px;
    outline: none;

    @media (max-width: $max-xs-width) {
      padding: 0;
    }
  }

  &__img-link {
    outline: none;
  }
  
  &__img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 320px;
  }
}