.atmosphere {
  display: flex;
  overflow: visible;
  max-width: 1140px;
  padding: 85px 0 50px;
  margin-top: 100px;

  @media (max-width: $max-xs-width) {
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
  
  &__left {
    width: 57%;

    @media (max-width: $max-xs-width) {
      width: 100%;
    }
  }

  &__right {
    width: 26%;
    padding-top: 10px;

    @media (max-width: $max-xs-width) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 70px;

    @media (max-width: $max-xs-width) {
      width: 280px;
      margin: 0 auto 15px;
    }
  }

  &__text {
    @media (max-width: $max-xs-width) {
      max-width: 280px;
      margin: 0 auto;
    }

    .atmosphere__left & {
      padding-right: 30%;
      margin-bottom: 45px;

      @media (max-width: $max-xs-width) {
        padding-right: 0;
        margin-bottom: 10px;
      }
    }

    .atmosphere__right & {
      margin-top: 80px;

      @media (max-width: $max-xs-width) {
        order: 1;
        margin-top: 65px;
        margin-bottom: 10px;
      }
    }
  }

  &__img-wrap {
    position: relative;
    padding: 0;
    margin: 0;

    @media (max-width: $max-xs-width) {
      width: 100%;
    }

    .atmosphere__right & {

      @media (max-width: $max-xs-width) {
        order: 2;
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 0 11px 45px -3px rgba(0, 0, 0, .45);

    .atmosphere__left & {
      width: 515px;
      
      @media (max-width: $max-xs-width) {
        width: 100%;
      }
    }

    .atmosphere__right & {
      width: 278px;

      @media (max-width: $max-xs-width) {
        width: 100%;
      }
    }
  }

  &__img-title {
    position: absolute;
    left: -25px;
    bottom: 0;
    font-family: $raleway;
    font-size: 12px;
    font-weight: 900;
    color: $silver;
    text-transform: uppercase;
    letter-spacing: .45em;
    transform-origin: 0 10px 0;
    transform: rotate(-90deg);

    @media (max-width: $max-xs-width) {
      width: 280px;
      color: $dark;
      opacity: .3;
      left: 50%;
      transform: none;
      bottom: -30px;
      transform: translateX(-50%);
    }

    &--right {
      top: 105px;
      right: -15px;
      bottom: auto;
      left: auto;
      transform-origin: 100% 0 0;
      transform: rotate(90deg);

      @media (max-width: $max-xs-width) {
        top: auto;
        right: auto;
        bottom: -30px;
        transform: translateX(-50%);
      }
    }
  }
}