.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  @media (max-width: $max-xs-width) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 160px;
    padding-bottom: 90px;
    text-align: center;
  }

  &--main {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 999;
  }

  &__logo-link {
    position: absolute;
    top: -7px;
    left: 50%;
    outline: none;
    transform: translateX(-50%);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: .5;
    }

    @media (max-width: $max-xs-width) {
      top: auto;
      bottom: 20px;
    }
  }

  &__logo-text {
    display: block;
    padding-bottom: 12px;
    text-align: center;
    font-size: 14px;
    color: $dark;
    text-decoration: none;
  }

  &__logo {
    display: block;
    width: 115px;
    height: auto;
  }

  &__link {
    font-family: $raleway;
    font-size: 14px;
    font-weight: 900;
    color: $dark;
    line-height: 1;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: .35em;

    &:hover {
      opacity: .5;
    }

    @media (max-width: $max-xs-width) {
      width: 100%;
      padding: 5px 0;
    }
  }
}