.footer {
  position: relative;
  height: 20px;
  padding: 30px 0;

  &__logo-link {
    position: absolute;
    top: 0;
    left: 50%;
    outline: none;
    transform: translateX(-50%);
    cursor: pointer;
  }

  &__logo {
    display: block;
    width: 115px;
    height: auto;
  }
}