.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 50px;

  &--main {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 999;
  }

  &__logo-link {
    position: absolute;
    top: 0;
    left: 50%;
    outline: none;
    transform: translateX(-50%);
    cursor: pointer;
  }

  &__logo {
    display: block;
    width: 115px;
    height: auto;
  }

  &__link {
    font-family: $raleway;
    font-size: 14px;
    font-weight: 900;
    color: $dark;
    line-height: 1;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: .35em;
  }
}