.services {
  max-width: 750px;
  padding: 60px 25px 15px;
  margin: 0 auto;

  @media (max-width: $max-xs-width) {
    .main-about & {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .main-about & {
    padding-top: 18px;

    @media (max-width: $max-xs-width) {
      padding-top: 60px;
    }
  }
  
  &__title {
    margin-bottom: 50px;
    line-height: 1.45;
  }

  &__text {
    line-height: 1.5;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 40px 0 30px;

    .main-about & {
      width: 100%;
      margin: 50px 0 0;
    }
  }

  &__item {
    width: 35%;
    box-sizing: border-box;
    padding-right: 8%;
    margin-bottom: 45px;

    &:nth-child(3) {
      width: 25%;
      padding-right: 0;
    }

    @media (max-width: $max-xs-width) {
      width: 100%;
      padding-right: 25%;
      margin-bottom: 20px;
    }
  }

  &__item-title {
    font-family: $raleway;
    font-weight: 900;
    color: $dark;
    line-height: 1.4;
    letter-spacing: .2em;

    @media (max-width: $max-xs-width) {
      font-size: 14px;
    }
  }

  &__item-icon {
    display: block;
    min-height: 35px;
    fill: $blue;
  }
}