.room-slider {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;

  &.room-slider-open {
    display: block;
  }

  &__close-btn {
    position: absolute;
    top: 60px;
    right: 5%;
    content: '';
    z-index: 999999999;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 0;
    background: transparent url('../img/close.svg') 0 0 no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
    transition: $transition;

    @media (max-width: $max-xs-width) {
      top: 25px;
    }

    &:hover,
    &:active {
      opacity: .75;
    }
  }

  &__slide {
    display: block;
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__slide-wrap {
    position: relative;
    z-index: 99999;
  }

  &__descr-wrap {
    position: absolute;
    left: 0;
    bottom: 5%;
    z-index: 999999;
    font-size: 16px;
    color: $white;

    @media (max-width: $max-xs-width) {
      bottom: 40px;
    }
  }

  &__descr {
    width: 30%;
    padding: 20px 0 40px;
    margin: 0;

    @media (max-width: $max-xs-width) {
      width: 100%;
      padding-bottom: 40%;
    }
  }

  &__icon {
    margin-right: 7px;
  }

  &__slide-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  &__dateils,
  &__btn-wrap {
    width: calc(100% / 3);

    @media (max-width: $max-xs-width) {
      width: 100%;
      text-align: center;
    }
  }

  &__btn-wrap {
    text-align: center;

    @media (max-width: $max-xs-width) {
      margin-top: 4%;
    }
  }

  &__btn {
    @media (max-width: $max-xs-width) {
      width: 100%;
    }
  }

  .slick-arrow {
    z-index: 999999999;
    width: 20px;
    height: 20px;
    background: transparent url('../img/arrow-slide.svg') 0 0 no-repeat;
    background-size: 20px 20px;
    border: none;
    outline: none;

    &::before {
      display: none;
    }

    &:hover,
    &:active {
      opacity: .75;
    }
  }

  .slick-prev {
    left: 3%;
    transform: rotate(180deg);
  }

  .slick-next {
    right: 3%;
    
  }
}
