.map {
  position: relative;
  height: 500px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $max-xs-width) {

  }

  &__info {
    position: absolute;
    right: 95px;
    bottom: -175px;
    width: 413px;
    height: 413px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee url('../img/map-info.jpg') 0 0 no-repeat;
    background-size: cover;
    border-radius: 50%;

    @media (max-width: $max-xs-width) {
      width: 150px;
      height: 150px;
      bottom: -50px;
    }
  }
  
  &__info-text {
    font-size: 24px;
    font-weight: 900;
    color: $white;
    letter-spacing: .45em;
    text-transform: uppercase;

    @media (max-width: $max-xs-width) {
      font-size: 14px;
      letter-spacing: .2em;
    }
  }
}
