body {
  font-family: $circe;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.35;
  color: $dark;
  background: $white;
}

p {
  margin: 0;
  padding: 0 0 10px;
}

a {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.btn {
  padding: 15px 45px;
  font-family: $raleway;
  font-size: 18px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  background: $red;
  border-radius: 2px;
  transition: $transition;

  &:hover {
    background: darken($red, 5%);
  }
}