.btn {
  display: inline-block;
  padding: 18px 50px;
  font-family: $raleway;
  font-size: 18px;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  background: $red;
  border: none;
  border-radius: 2px;
  transition: $transition;

  &:hover {
    background: darken($red, 5%);
  }
}