@font-face {
  font-family: "Circe";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/circe-regular.woff2") format("woff2"),
       url("../fonts/circe-regular.woff") format("woff"),
       url("../fonts/circe-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Circe";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/circe-bold.woff2") format("woff2"),
       url("../fonts/circe-bold.woff") format("woff"),
       url("../fonts/circe-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Circe";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/circe-extrabold.woff2") format("woff2"),
       url("../fonts/circe-extrabold.woff") format("woff"),
       url("../fonts/circe-extrabold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/raleway-regular.woff2") format("woff2"),
       url("../fonts/raleway-regular.woff") format("woff"),
       url("../fonts/raleway-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/raleway-light.woff2") format("woff2"),
       url("../fonts/raleway-light.woff") format("woff"),
       url("../fonts/raleway-light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/raleway-bold.woff2") format("woff2"),
       url("../fonts/raleway-bold.woff") format("woff"),
       url("../fonts/raleway-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/raleway-extrabold.woff2") format("woff2"),
       url("../fonts/raleway-extrabold.woff") format("woff"),
       url("../fonts/raleway-extrabold.ttf") format("truetype");
}