// Colors
$white: #fff;
$ligth-gray: #f7f7f7;
$dark: #01161e;
$red: #db5461;
$blue: #00bfdb;
$lagoon: #00708c;
$lilac: #c1c3ec;
$silver: #d4d6d6;

// Typography
$circe: 'Circe', sans-serif;
$raleway: 'Raleway', sans-serif;

// Grid
$max-xs-width: 767px;
$min-xs-width: 768px;
$max-sm-width: 960px;
$min-sm-width: 961px;
$max-md-width: 1200px;
$min-md-width: 1201px;

// Other
$transition: 0.3s linear;