.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 40px 0 10px;

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__logo-link {
    text-decoration: none;
    outline: none;

    @media (max-width: $max-xs-width) {
      .header--main & {
        display: none;
      }
    }
  }

  &__logo {
    display: block;
    width: 140px;
    height: auto;
  }

  &__phone {
    margin-left: 105px;
    font-family: $raleway;
    font-size: 18px;
    font-weight: bold;
    color: $white;
    text-decoration: none;

    @media (max-width: $max-xs-width) {
      display: none;
    }

    .header--main & {
      margin-left: 0;
    }
  }
}
