.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 40px 0 10px;

  &__wrap {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__logo-link {
    text-decoration: none;
    outline: none;
  }

  &__logo {
    display: block;
    width: 140px;
    height: auto;
  }

  &__phone {
    margin-left: 105px;
    font-family: $raleway;
    font-size: 18px;
    font-weight: bold;
    color: $white;
    text-decoration: none;

    .header--main & {
      margin-left: 0;
    }
  }

  &__social-list {
    padding: 5px 0 0;
    padding-left: 55px;
    margin: 0;
    list-style: none;
  }

  &__social-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }

  &__social-link {
    text-decoration: none;
  }

  &__social-icon {
    fill: $white;
    opacity: .7;
    transition: $transition;
  }

  &__social-link:hover &__social-icon {
    opacity: 1;
  }
}
