.clients {
  max-width: 780px;
  padding: 10px 0 100px;

  @media (min-width: $min-xs-width) and (max-width: $max-sm-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__title {
    padding-left: 5.5%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;

    @media (max-width: $max-xs-width) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    min-height: 110px;

    @media (max-width: $max-xs-width) {
      width: 50%;
    }
  }

  &__img {
    display: block;
    max-width: 90%;
    height: auto;

    @media (max-width: $max-xs-width) {
      max-width: 75%;
    }
  }

}
